












/******************** Page de connexion (login) administration ou employé ********************/


/***** Formulaire *****/
.form-container {
    min-height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 100px;

}

.form-container form {
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 8px 7px 8px -3px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 8px 7px 8px -3px rgba(0, 0, 0, 0.44);
    box-shadow: 8px 7px 8px -3px rgba(0, 0, 0, 0.44);
    background: #fff;
    text-align: center;
    width: 80%;
}

.form-container form h3 {
    
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #3F4451;
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 22px;
    color: #3F4451;
    font-weight: bold;
    margin: 8px 0;
    background: #FFF;
    border: 2px solid #3F4451;
    border-color: #3F4451;
    border-radius: 10px;
}

.form-control:focus {
    border-color: #0D1C25;
    box-shadow: 0 0 0 0.2rem #0D1C25;
}

.form-container form .form-btn {
    background: #607E89;
    color: #0D1C25;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    width: 98%;
}

.form-container form input:hover,
.form-container form select:hover {
    background: #FFF;
    color: #0D1C25;
}

.form-container form .form-btn:hover {
    background: #32373f;
    color: #fff;
}

.form-container form p {
    margin-top: 10px;
    font-size: 22px;
    color: #0D1C25;
}

.form-container form p a {
    
    color: #0D1C25;
    text-decoration: none;
    font-weight: bold;
}

form p a:hover {
    font-size: 24px;
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background-color: #3F4451;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

.form-btn {
   
    text-align: center;
}

/******************** Page de RDV Atelier (booking) ********************/

h1.booking {
    margin-top: 100px;
    text-align: center;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
    float: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #3F4451;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}












